<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_RESTING_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE_VARIABILITY" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <application>
        <activity
            android:name="app.aaps.plugins.aps.openAPSAIMI.physio.AIMIHealthConnectPermissionActivityMTR"
            android:exported="false" />
        <activity
            android:name="app.aaps.plugins.aps.openAPSAIMI.physio.AIMIHealthConnectSyncServiceMTR"
            android:exported="false" />
        <activity
            android:name="app.aaps.plugins.aps.openAPSAIMI.advisor.AimiModeSettingsActivity"
            android:exported="false" />
        <activity
            android:name="app.aaps.plugins.aps.openAPSAIMI.context.ui.ContextActivity"
            android:exported="false" />
        <activity
            android:name="app.aaps.plugins.aps.openAPSAIMI.advisor.pulse.AimiPulseDetailActivity"
            android:exported="false" />
    </application>
</manifest>