<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <application>
        <activity
            android:name=".general.dashboard.AdjustmentDetailsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".general.dashboard.AimiAdaptationStatusActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".general.manual.UserManualActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".general.dashboard.LoopStateActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- BOOST Widget -->
        <receiver
            android:name=".general.overview.boost.widget.BoostWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/boost_widget_info" />
        </receiver>
        <activity
            android:name=".general.overview.boost.widget.BoostWidgetConfigureActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
